<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIO'S</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css" integrity="sha512-+x1CtWoh20aG9XKbFKrk3q3qKNg8FOvZiNUdZLHcK+mzrW8MTlYitXH/a+xIaE+G8qobOYXtjNmmhLUTd1N8Ow==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <h1>GIOS's</h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/calculadora">Calculadora</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/clients">Clients</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-5">
      <h1>Bienvenido a GIO'S!</h1>
      <p>Creando las mejores experiencias para ti.</p>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js" integrity="sha512-cu2Zdoo1TbTgWLy9Y7q3lddU+vP6UQ2YPfbr1wdJImeDKeaodRdx+zPjXnNC6KcCStzPI+dfhf5pB/M5w5I5jg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </body>
</html>
